<html>
<head>
  <title>jstix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <meta name="theme-color" content="#000000">
  <script src="js/jstix.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body onload="pageloaded()" onhashchange="change()">
  <nav>
    <a href="#home">Home</a>
    <a href="#connect">Connect</a>
    <a href="#layout">Layout</a>
    <a href="#play" id="playmd" onclick="toplaymode()">Play</a>
    <a href="#play" id="editmd" onclick="toeditmode()">Edit</a>
  </nav>
  <section id="home">
    JStix
  </section>
  <section id="connect">
    <input id="hostadd" type="url" placeholder="host address">
    <br>
    <button onclick=init()>Connect</button>
    <br><br>
    <span id="status"></span>
  </section>
  <section id="layout">
    {% for f in svgs %}
      <p id="sel_{{f.name}}">
        <img src="svg/{{f.name}}.svg">
        <span>{{f.name}}</span>
        <button onclick="use('{{f.name}}')">Use This</button>
      </p>
    {% endfor %}
  </section>
  <section id="play">
    {% for f in svgs %}
      <svg id="{{f.name}}" style="width: 100%; height: 100%;" viewbox = "0 0 1000 500">
        {{f.code}}
      </svg>
    {% endfor %}
  </section>
</body>
